* {
    margin: 0px;
    padding: 5px;
    font-family: sans-serif;
}

section#left {
              float: left;
              overflow: hidden;
              margin: 0;
              padding: 0;
              padding-right: .5em;
              width: 24%;
              height: 560px;
}

section#right {
                float: right;
                overflow: visible;
                margin: 0;
                padding: 0;
                padding-left: .5rem;
                padding-right: .5rem;
                width: 72.325%;
                height: 500px;
}

header {
        margin: 0px;
        padding-top: 20px;
        background-color: #C1E057;
        width: 99%;
        height: 6rem;
        margin-bottom: .25rem;
}

header p {
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 20px;
          line-height: 80%;
}

nav {
      padding: 0px;
      padding-top: 4px;
      padding-bottom: 2px;
      width: 100%;
      font-weight: bold;
      margin-bottom: .5rem;
}

nav li {
          display: inline-block;
          padding-left: .5rem;
          padding-right: .5rem;
          border-left: 2px solid black;
}

nav li:first-of-type {
                        padding-left: .75rem;
                        border-left: none;
}

article#cheese {
                background-color: #57DFDD;
                width: 100%;
                height: 75%;
                font-weight: bold;
                color: white;
                margin-bottom: 1rem;
}

article#cheese ul {
                   padding-top: 2rem;
	           padding-bottom: 2rem;
}

article#cheese li {
                    padding-bottom: 2.5rem;
                    padding-left: 2rem;
                    list-style: none;
}

article#block {
                background-color: #57BEDF;
                width: 100%;
                height: 120px;
                margin-bottom: 1rem;
}

article#headline {
                  background-color: #DFD758;
                  color: white;
                  width: 99%;
                  padding: 3% 0% 3% 1%;
                  margin-bottom: 2%;
                  padding-right: 1.5%;
                  height: 5%;
}

article#story {
                background-color: white;
                width: 99%;
                overflow: scroll;
                margin-bottom: 2%;
                padding: 1.25% 1.25% 1.25% 1.25%;
                height: 80%;
}

footer {
          float: right;
          background-color: #AEAFB1;
          width: 72.325%;
          text-align: right;
          margin-bottom: 2%;
          color: black;
          height: 10%%;
}

p {
    font-family: sans-serif;
    padding-bottom: 5px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    line-height: 80%;
    font-size: 30px;
}